html{

}
body{

}
.top-menu{

  .menu{
    padding:0 15px;
    background-color:white;
    box-shadow:none;

    .nav-wrapper{

      ul{

        a{
          color:red;
        }
      }
    }
  }


}