@font-face { font-family: Avenir-Light; src: url('/fonts/AvenirLTStd-Light.otf');}
@font-face { font-family: Avenir-Black; src: url('/fonts/AvenirLTStd-Black.otf');}
@font-face { font-family: Avenir-Heavy; src: url('/fonts/AvenirLTStd-Heavy.otf');}
@red-vitberg:#DE0029;
@black-transparent: rgba(0,0,0,0.4);

//WHOLE PROJECT STYLES
html{
  font-family:Avenir-light;
  body{
    color:#333;
    overflow-x:hidden;
  }
}

//MAIN STYLES ELEMENTS
body {

  .header{
    font-size:30px;
    text-transform: uppercase;
    margin-bottom:20px;
  }

  .header-smaller{
    font-size:24px;
    text-transform: uppercase;
    margin-bottom:20px;
  }

  .read-more-btn{
    font-size:18px;
    background-color:transparent;
    border:none;
    outline:none;
    box-shadow: none;
    text-decoration: underline;
    margin-top:25px;

      i{
        font-size:14px;
        text-decoration: underline;
      }
  }

  .simple-text-content{
    font-size:18px;
  }

  .white-font{
    color:white !important;
  }
  .dark-gray-font{
    color:#333 !important;
  }


  .banner-subpage{
    min-height:200px;
    max-height:400px;
    width:100vw;

    .img-in-banner{
      box-shadow: 0 3px 6px @black-transparent;
      width: 100%;
      object-fit: cover;
      max-height: 350px;
      min-height: 200px;
    }
  }

  .margin-0{
    margin:0;
  }
}

//TOP MENU STYLES
.top-menu{

  .brand-logo{
    margin-top: 25px;
    z-index: 3;
    margin-left: 8.3333333333%;
  }

  .menu{
    padding:0 15px;
    background-color:white;
    box-shadow:none;
    text-transform: uppercase;

    .nav-wrapper{

      ul{
        cursor:pointer;
        margin-top:22px;
        margin-right:8.333333%;

        .hovered{
          background-color:@red-vitberg;
          color:white;
        }
        li{
          color:@red-vitberg;
          line-height: 30px;
          padding: 0 15px 12px;
          cursor: pointer;
          transition: all 0.4s;
          font-size: 12px;
          font-weight: bold;
          position: relative;

          ul{
            position: absolute;
            margin: 12px 0 0 !important;
            left: 0;
            background-color: rgba(255, 255, 255, 0.5);

            li{

            }
          }
        }

        li:hover{
          background-color:@red-vitberg;
          color:white;

          ul{
            max-height:650px;
            display:block;
            opacity:1;
            margin-left:-39px;
            cursor:pointer;

            li{
              padding: 15px 15px;
              white-space: nowrap;
              cursor:pointer;
            }
          }

        }

      }

    }

  }

}

//LOG IN STYLES
.log-in-container{
  height: ~"calc(100vh - 64px)";
  padding-top: ~"calc(50vh - 230px)";
  margin-bottom: 0px;
  background-image:url("/photos/news_bg.jpg");

  .log-in-box{
    background-color: rgba(255,255,255,.4);
    padding:25px !important;
    text-align:center;
    border:1px solid @red-vitberg;
    max-width:450px;
    min-width:250px;
    height:230px;
    float:none !important;
    margin-left:auto !important;
    margin-right:auto;
    box-shadow:2px 3px  10px @black-transparent;

    label>input:focus{
      border-bottom: 1px solid @red-vitberg;
      box-shadow: 0 1px 0 0 @red-vitberg;
      color:#333 !important;
    }
    label>input:hover{
      border-bottom:1px solid @red-vitberg;
    }

    .log-int-btn-container{
      .btn-red{
        padding:10px 40px;
      }
    }
  }

}

.log-in-alert{
  position: absolute;
  text-align: center;
  width: 100%;
  padding-top: ~"calc(50vh - 350px)";
  p{
    margin-top:0 !important;
  }
  i{
    font-size:3rem;
  }
}

/*LANDING PAGE STYLES
**********************************************************************/

  //SLIDER STYLES

  .video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:0px;
    height:0;
    overflow:hidden;
  }

  .video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }

  //NEWSLETTER IN BANER STYLES
  .newsletter-row{
    width:100%;
    position: absolute;

    .newsletter-nestle-row{
      position: relative;

      @media only screen and (min-width:993px){
        .offset-l6{
          margin-left: ~"calc(50% - 10px)";
          padding-right: .75rem !important;
        }
      }
    }

    .newsletter-field{
      position: absolute;
      z-index: 2;
      bottom: 125px;
      right: 8.33333%;
      padding-left: 0;
      padding-right: 1.25rem;

      .newsletter-label{
        width: 135px;
        border:1px solid #FF3036;
        background-color:#FF3036;
        font-size:18px;
        color:white;
        display:inline-block;
        padding:4px 8px 4px 12px;
        border-top-left-radius:5px;
        border-bottom-left-radius:5px;
      }

      .newsletter-inpt{
        background-color:rgba(255,255,255,0.8);
        font-size:18px;
        padding:6px 8px 7px 12px;
        border:1px solid #FF3036;
        margin-left:-4px;
        margin-bottom: 0px;
        box-sizing: border-box;
        width:~"calc(100% - 172px)";
        height:auto;
      }
      .newsletter-inpt:focus{
        border: 1px solid #FF3036 !important;
        box-shadow: none;
      }


      .newsletter-accept{
        width: 37px;
        font-size:18px;
        background-color:#FF3036;
        color:white;
        border-top-right-radius:5px;
        border-bottom-right-radius:5px;
        border:1px solid #FF3036;
        outline:none;
        padding:4px;
        margin-left:-4px;
        i{
          font-size:18px;
        }
      }
    }
  }

  //FOUR BLOCKS STYLES
  .four-blocks{
    min-height:200px;
    position: absolute;
    width: 100%;
    margin-top: -100px;
    z-index: 3;
    text-transform: uppercase;

    .four-blocks-row-2{
      >:nth-child(1){
        background-color:#FF3036;
        transition:all 0.4s;
      }

      >:nth-child(2){
        background-color:#FF4C52;
        transition:all 0.4s;
      }

      >:nth-child(3){
        background-color:#FF5E64;
        transition:all 0.4s;
      }

      >:nth-child(4){
        background-color:#FF7C82;
        transition:all 0.4s;
      }

      >:nth-child(n):hover{
        //background-color:rgba(80,80,80,0.6);
        i{
          font-size:6.5rem;
        }
        .block-descr{
          font-size:20px;
        }
      }

      .block-descr{
        margin-top: 15px;
        font-weight: bold;
        font-size: 18px;
        transition:all 0.4s;
      }
      i{
        font-size:5.5rem;
        transition:all 0.4s;
      }
    }


    .block-main{
      z-index:3;
      min-height:200px;
      margin-bottom:10px;
      color:#fff;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      cursor:pointer;

      >:nth-child(n){
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        cursor:pointer;
      }


    }
  }

  //HOME PAGE NEWS CONTAINER STYLES
  .main-news-container{

    .main-news-content{
      background-image:url("/temp/newsBg.jpg");
      background-size: cover;
      background-position: 50% 75%;
      display:flex;
      flex-direction: row;
      align-content: stretch;

      .o-firmie{
        color:white;
        width:50%;
        display:inline-block;
        box-sizing: content-box;
        float:left;
        flex:1 1 auto;
        align-self:stretch;
        padding:20px 5% 60px 8.33333%;
        background-color: rgba(123,136,153, 0.7);

          .o-firmie-content{

          }
      }

      .news-list{
        color:white;
        width:50%;
        display:inline-block;
        box-sizing: content-box;
        float:left;
        flex:1 1 auto;
        align-self:stretch;
        padding:20px 8.33333% 60px 5%;
        background-color:rgba(62,78,94, 0.7);

        .news-list-content{

          :nth-child(n){
            margin:10px 0 5px;
          }

          i{
            font-size:16px;
          }
        }
      }
    }

    @media screen and (max-width: 601px) {
      padding-top:790px;

    }

    @media screen and (min-width: 601px) and (max-width: 993px) {
      padding-top:360px;
      margin-left: .75rem;
      margin-right: .75rem;
    }

    @media screen and (min-width: 993px) {
      padding-top:170px;
    }
  }

  //MAIN RED RIGHT CONTAINER STYLES
  .main-red-right{
    width: 100%;
    background-color:@red-vitberg;
    padding:40px 8.33333% 60px;
    float: left;
    display:flex;

    .text-content{
      display:inline-block;
      width:55%;
      float:left;
      box-sizing: content-box;
      color:white;
      flex:1 0 auto;
      align-self: stretch;
    }

    .image-content{
      display: inline-block;
      margin-left:10%;
      width: 35%;
      box-sizing: content-box;
      float: left;
      text-align: center;
      color:white;
      flex:1 0 auto;
      align-self: center;

      img{
        max-width:300px;
      }

    }

    .read-more-btn{
      color:#fff;
    }

  }

  //MAIN OPINIONS CONTAINER STYLES
  .main-opinions-container{
    margin-top:409px;
    position: relative;

    .slider{
      .slides{
        background-color:#e6e6e6;

        li{
          padding:40px 8.33333%;
          display:flex;

          .text-content{
            display:inline-block;
            width:65%;
            margin-left: 5%;
            float:left;
            box-sizing: content-box;
            color:#333;
            flex:1 0 auto;
            align-self: stretch;

            .author-of-opinion{
              font-size:18px;
              color:#333;
              margin-bottom:10px;
            }
          }

          .image-content {
            display: inline-block;
            width: 30%;
            box-sizing: content-box;
            float: left;
            text-align: left;
            color: white;
            flex: 1 0 auto;
            align-self: center;
          }

          img{
            width:100%;
            max-width:300px;
            border-radius:5px;
            border:1px solid #fff;
          }

        }
      }

      .read-more-btn{
        font-size:18px;
        margin-top:45px;
        text-align: right;
        bottom: 60px;
        z-index: 3;
        position: absolute;
        left: 35%;
        color:@red-vitberg;

        i{
          font-size:18px;
        }
      }

      .indicators{
        text-align: right;
        bottom: 60px;
        z-index: 2;
        margin-right:8.33333%;

        .indicator-item{
          background-color:@red-vitberg;
          border:1px solid @red-vitberg;
          margin: 0 8px;
        }

        .active{
          background-color:transparent;
        }
      }
    }

    .big-quote-mark{
      display: inline-block;
      height: 100px;
      position: absolute;
      z-index: 3;
      left: ~"calc(50% - 70px)";
      width: 140px;
      background-color: #e6e6e6;
      border-radius: 10px;
      text-align: center;
      top: -70px;
      font-size:54px;
      color: @red-vitberg;
    }
  }

  //MAIN PARALLAX CONTAINER STYLES
  .main-parallax{
    width: 100%;
    margin-top: -40px;
    height: 450px;

      .whole-content-parallax{
        position: absolute;
        background-color: rgba(62, 78, 94, 0.9);
        height: 100%;
        display: flex;
        padding: 80px 8.33333% 80px;
      }

      .text-content{
        display:inline-block;
        width:55%;
        margin-left:10%;
        float:left;
        box-sizing: content-box;
        color:white;
        flex:1 0 auto;
        align-self: stretch;
      }

      .image-content{
        display: inline-block;
        width: 35%;
        box-sizing: content-box;
        float: left;
        text-align: center;
        color:white;
        flex:1 0 auto;
        align-self: center;
        height: 55%;

        img{
          display: inherit;
          width: 100%;
          max-width: 100%;
          min-width: inherit;
          min-height: initial;
          position: relative;
        }

      }

      .read-more-btn{
        color:#fff;
      }

}

  //MAIN CLICKABLE CONTAINER STYLES
  .main-clickable{
    background-color:@red-vitberg;
    position: relative;
    min-height:300px;
    margin-top:-1px;

    .middle-top-block{
      display: inline-block;
      height: 100px;
      position: absolute;
      z-index: 3;
      left: ~"calc(50% - 70px)";
      width: 140px;
      background-color: @red-vitberg;
      border-radius: 10px;
      text-align: center;
      top: -70px;
      font-size:54px;
      color: white;
    }

    .header{
      color:white;
      text-align: center;
      padding-top:40px;
      margin-bottom:5px;
    }

    .header-smaller{
      color:white;
      text-align: center;
    }

    .blocks-container{
      margin:60px 8.3333% 20px;
      cursor: pointer;
      text-align: center;

      .single-block{
        width:148px;
        height:120px;
        display:inline-block;
        margin:0 4px 20px;

        .block-ico{
          border-radius:5px;
          border:1px solid white;
          width:100px;
          margin-left:24px;
          height:100px;
        }

        .description{
          text-align:center;
          text-transform: uppercase;
          color:white;
          margin-top:5px;
          font-size:14px;
        }
      }
    }

  }

  //SUBMAIN  CLICKABLE CONTAINER STYLES
  .sub-clickable{
    margin: 40px 8.3333% 80px;

    .description{
      display:inline-block;
      padding:5px 35px 15px 25px;
      border-left:solid 2px #686868;
      font-size:16px;

      .top-title{
        font-family: Avenir-Black;
        color:@red-vitberg;
        font-size:40px;
      }

      .bottom-title{
        font-family: Avenir-Black;
        text-transform: uppercase;
        color:@red-vitberg;
        font-size: 40px;
        margin-top: -20px;
        margin-bottom: 20px;
      }

      .read-more-btn{
        color:@red-vitberg;
      }

    }

    .usage{
      display:inline-block;
      padding:5px 35px 15px 25px;
      border-left:solid 2px #ededed;
      font-size:16px;

      .header-smaller{
        text-transform: uppercase;
        color: #de0029;
        font-family: Avenir-light;
        font-weight: bold;
        margin-bottom: 50px;
        margin-top:10px;
      }

      ul{

        li{

          i{
            font-weight: bold;
            font-size: 16px;
            margin-right: 10px;
          }

          span{
            line-height: 2.5rem;
          }
        }
      }

    }

    .photo{
      display:inline-block;
      img{
        margin-top:50px;
      }
    }

}





  //SECOND MAIN CONTAINER STYLES
  .second-main-container{
    margin-top:50px;
    min-height:100px;
    height: 340px;

    .parallax{

      img{
        opacity:.3;
      }
    }

    .second-container-content{
      position: absolute;
      padding:30px 40px 0;

    }

    .second-container-title{
      border-bottom: solid 2px red;
      margin-bottom: 15px;
      z-index:3;
    }

    .second-container-text{
      font-size:1.2rem;
      margin-bottom: 25px;
    }

  }
  .second-container-button{
  text-align: center;
  margin-top: -50px;

  a{
    will-change: inherit;
  }
}

  //THIRD MAIN CONTAINER STYLES
  .third-main-container{
    padding-left:40px;
    padding-right:40px;
    margin-top:50px;
    margin-bottom:80px;

    .third-container-title{
      border-bottom: solid 2px red;
      margin-bottom: 15px;
      //text-transform: capitalize;
    }
    .third-container-text{

      >:first-child{
        color:black;
        font-size:1.2rem;
        padding-left:20px;
      }

      .third-container-button{
        text-align: center;
        margin-top: 40px;
        a{
          will-change: inherit;
        }
      }
    }

    @media screen and (max-width: 601px) {

      .third-container-image{
        .third-container-image-div {
          width: 300px;
          height: 300px;
          margin-left:auto;
          margin-right:auto;

          .image1-third-container {
            object-fit: cover;
            position: absolute;
            margin-left: 0px;
            transform: rotate(-15deg);
            width: 200px;
            height: 200px;
            margin-top: 40px;
            box-shadow: 1px 3px 3px @black-transparent;
          }

          .image2-third-container {
            object-fit: cover;
            position: absolute;
            margin-top: 35px;
            margin-left: 100px;
            z-index: 4;
            width: 200px;
            height: 200px;
            box-shadow: 1px 3px 3px @black-transparent;
          }

          .image3-third-container {
            object-fit: cover;
            position: absolute;
            margin-left: 200px;
            margin-top: 35px;
            transform: rotate(20deg);
            z-index: 5;
            width: 200px;
            height: 200px;
            box-shadow: 1px 3px 3px @black-transparent;
          }
        }
      }

    }

    @media screen and (min-width: 601px) and (max-width: 993px) {

      .third-container-image{

        .third-container-image-div {
          width: 400px;
          height: 300px;
          margin-left:auto;
          margin-right:auto;

          .image1-third-container {
            object-fit: cover;
            position: absolute;
            margin-left: 0px;
            transform: rotate(-15deg);
            width: 200px;
            height: 200px;
            margin-top: 40px;
            box-shadow: 1px 3px 3px @black-transparent;
          }

          .image2-third-container {
            object-fit: cover;
            position: absolute;
            margin-top: 35px;
            margin-left: 100px;
            z-index: 4;
            width: 200px;
            height: 200px;
            box-shadow: 1px 3px 3px @black-transparent;
          }

          .image3-third-container {
            object-fit: cover;
            position: absolute;
            margin-left: 200px;
            margin-top: 35px;
            transform: rotate(20deg);
            z-index: 5;
            width: 200px;
            height: 200px;
            box-shadow: 1px 3px 3px @black-transparent;
          }
        }
      }


    }

    @media screen and (min-width: 993px) {

      .third-container-content{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;

        .third-container-text{
          -webkit-order: 0;
          -ms-flex-order: 0;
          order: 0;
          -webkit-flex: 4 1 auto;
          -ms-flex: 4 1 auto;
          flex: 4 1 auto;
          -webkit-align-self: center;
          -ms-flex-item-align: center;
          align-self: center;
        }
        .third-container-image{
          -webkit-order: 0;
          -ms-flex-order: 0;
          order: 0;
          -webkit-flex: 1 1 auto;
          -ms-flex: 6 1 auto;
          flex: 6 1 auto;
          -webkit-align-self: center;
          -ms-flex-item-align: center;
          align-self: center;
          margin-right: 40px;

        }
      }

      .third-container-image{
        .third-container-image-div {
          width:400px;
          height:300px;

          .image1-third-container {
            object-fit: cover;
            position: absolute;
            transform: rotate(-5deg);
            width: 250px;
            height: 250px;
            margin-top: 20px;
            box-shadow: 1px 3px 3px @black-transparent;
          }

          .image2-third-container {
            object-fit: cover;
            position: absolute;
            left: 105px;
            margin-top: 60px;
            transform: rotate(30deg);
            z-index: 4;
            width: 250px;
            height: 250px;
            box-shadow: 1px 3px 3px @black-transparent;
          }

          .image3-third-container {
            object-fit: cover;
            position: absolute;
            left: 185px;
            margin-top: 95px;
            transform: rotate(45deg);
            z-index: 5;
            width: 250px;
            height: 250px;
            box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.4);
          }
        }
      }

    }
    .image1-third-container:hover, .image2-third-container:hover, .image3-third-container:hover{
      z-index:10 !important;
      box-shadow:1px 4px 7px @black-transparent !important;
      border:solid 1px @red-vitberg;
    }
  }

  //FOOTER
  .footer{
    background-color:#556678;
    float: left;
    width: 100%;

    .footer-container{
      padding:15px 8.33333% 30px;
      float: left;
      width: 100%;
      display:flex;

      .footer-col{
        float:left;
        color:white;
        display:inline-block;
        width:20%;
        box-sizing: border-box;

        .header{
          font-size: 18px;
          text-transform: uppercase;
          font-weight: bold;
          margin-top: 20px;
        }

        .content{
          font-size: 16px;
          line-height: 2rem;

          li{

            a{
              color:white;
              cursor:pointer;
            }
          }

          li:hover{
            a{
              text-decoration: underline;
            }
          }
        }
      }

      .contact{
        border-left:2px solid rgba(255,255,255,.3);
        box-sizing: border-box;
        text-align: center;
        flex:1 1 auto;
        align-self: stretch;
      }
    }

    .bottom-menu{
      background: #3E4E5E;
      height:55px;
      line-height: 50px;
      width:100%;
      float:left;
      color:white;
      padding:0px 8.33333% 0px;

      .bottom-menu-left{
        width:80%;
        box-sizing:border-box;
        float:left;
        position: relative;

        .signature{
          display:inline-block;
          text-transform: uppercase;
        }

        .fast-menu{
          display:inline-block;
          margin-left:10%;

          ul{
            margin: 0;

            li{
              display: inline-block;
              padding:5px 15px 0px;
              margin-left: 10px;
              margin-right: 10px;
              cursor: pointer;
              transition: all .4s;

              a{
                color:white;
              }
            }

            li:hover{
              background-color:white;
              a{
                color:#3E4E5E;
              }
            }
          }
        }
      }

      .bottom-menu-right{
        width:20%;
        box-sizing:border-box;
        float:left;
        text-align: center;
        font-size:12px;
        margin-top:5px;
      }
    }



  }


/*NEWS PAGE STYLES
**********************************************************************/

.news-container{
  margin-top:-5px;
  padding:55px 25px 0;
  text-align: center;
  background-image: url("/photos/news_bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  margin-bottom:0;

  .single-news{
    background-color:rgba(255,255,255,0.6);;
    box-shadow:2px 3px 5px @black-transparent;
    margin:20px 0;
    padding:0;
    border-bottom: 1px solid red;


    .single-news-header{
      min-height: 36px;
      background: @red-vitberg;
      color:white;
      text-align: left;
      font-size:18px;
      line-height:36px;
      display:flex;

      .news-title{
        padding-left:20px;
        display:inline-block;
        flex: 1 1 auto;
        font-weight: bold;
      }
      .news-time{
        padding-right:20px;
        display:inline-block;
        flex: 1 0 auto;
        text-align: right;
      }
    }

    .news-content{
      display:flex;
      padding:15px 20px;

      .news-text{
        text-align:justify;
        flex:1 1 auto;
      }
      .news-image{
        flex:1 1 auto;
        padding:5px 25px;
        >:first-child{
          background:radial-gradient(white, #e6e6e6);
          padding: 8px;
          box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
          overflow:hidden;
          position: relative;
          transition: all 0.5s;
          cursor:pointer;
            img{
              width: 300px;
              transition: all 0.5s;
            }
          i{
            position: absolute;
            font-size: 2.5rem;
            top: -40px;
            margin-left: -15px;
            opacity: 0;
            transition: all .3s ease-out;
          }
        }
        >:first-child:hover{
          padding: 2px;
          box-shadow: 4px 4px 8px rgba(0,0,0,0.3);
          img{
            width:312px;
            opacity:.5;
          }
          i{
            position: absolute;
            font-size: 2.5rem;
            opacity: 1;
            top:~"calc(50% - 1rem)";
            margin-left: -15px;
          }
        }


      }
    }
  }

  .important-news{
    background-color: rgba(255,255,255,0.6);
    padding:0 0 30px;
    box-shadow:1px 3px 10px @black-transparent;
    margin-bottom:20px;

    .news-title{
      padding:5px 15px;
      font-size: 18px;
      font-weight: bold;
      color: #333;
    }
    .news-image{
      img{
        width:100%;
      }
    }
    .news-time{
      background: @red-vitberg;
      color: white;
      padding: 5px 15px;
      margin-top: -6px;
    }
    .news-text{
      text-align: justify;
      padding:10px 15px 5px;
    }
    .read-more{
      float: right;
      margin-right: 15px;
      color: @red-vitberg;
      font-style: italic;
      cursor: pointer;
      position: relative;
      width: 120px;
      overflow:hidden;
    }

    .read-more::after{
      content:">";
      position:absolute;
      right:5px;
      transition:all 0.2s ease-in;
      transition-delay: .2s;
    }
    .read-more::before{
      content:">";
      position:absolute;
      left:-10px;
      transition:all 0.2s ease-out;
    }

    .read-more:hover::after{
      content:">";
      position:absolute;
      right:-15px;
      transition:all 0.2s ease-in;
    }
    .read-more:hover::before{
      content:">";
      position:absolute;
      left:5px;
      transition:all 0.2s ease-out;
      transition-delay: .2s;
    }

  }

  @media only screen and (max-width:601px){
    .news-title{
      padding-left:5px !important;
    }
    .news-time{
      padding-right:5px !important;
    }
  }

}

/*ADMIN NAVIGATION STYLES
*********************************************************************/
.admin-panel-container {
  min-height:~"calc(100vh - 64px)";
  background-image:url("/photos/news_bg.jpg");
  background-attachment: fixed;

  .admin-nav-container {
    text-align: left;

    .admin-nav-box {
      display: inline-block;
      width: 150px;
      height: 100px;
      margin-top:50px;
      line-height: 100px;
      position: relative;
      background: rgba(248, 80, 50, 1);
      background: -moz-linear-gradient(top, #e81212 0%, #f16f5c 50%, #ff604a 51%, #fb3131 71%, #e81212 100%);
      //background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248, 80, 50, 1)), color-stop(50%, rgba(241, 111, 92, 1)), color-stop(51%, rgba(246, 41, 12, 1)), color-stop(71%, rgba(240, 47, 23, 1)), color-stop(100%, rgba(231, 56, 39, 1)));
      background: -webkit-linear-gradient(top, #e81212 0%, #f16f5c 50%, #ff604a 51%, #fb3131 71%, #e81212 100%);
      background: -o-linear-gradient(top, #e81212 0%, #f16f5c 50%, #ff604a 51%, #fb3131 71%, #e81212 100%);
      background: -ms-linear-gradient(top, #e81212 0%, #f16f5c 50%, #ff604a 51%, #fb3131 71%, #e81212 100%);
      background: linear-gradient(to bottom, #e81212 0%, #f16f5c 50%, #ff604a 51%, #fb3131 71%, #e81212 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f85032', endColorstr='#e73827', GradientType=0);
      color: white;
      font-size: 1.2rem;
      text-align: center;
      padding-left: 0;
      margin-left: 30px;
      box-shadow: 2px 2px 3px rgba(0, 0, 0, .6);
      cursor: pointer;
      transition: box-shadow .3s ease-out;

      i {
        position: absolute;
        top: 5px;
        right: 5px;
      }
    }

    .admin-nav-box:hover {
      box-shadow: 5px 5px 3px rgba(0, 0, 0, .4);
    }

  }
}

/*ADMIN NEWS STYLES
*********************************************************************/
.panel-admin-news-container{
    padding:20px 25px;

  .news-create-textarea{
    min-height:100px;
    max-width:100%;

  }

  .drop-zone-box{
    background-color: rgba(255, 255, 255, 0.48);
    height: 100px;
    width: 100px;
    border: 2px dashed red;
    padding: 10px;
    margin-top:20px;
    color: #b6b6b6;
  }

  .submit-news{
    font-size:1.2rem;
    padding:5px 30px;
    margin-top:20px;
  }

}

/*ADMIN MAIN PAGE STYLES
*********************************************************************/

.update-main-page-btn{
  padding: 5px 20px;
  margin: 15px 25px;
}

/*ADMIN MAP MARKERS STYLES
*********************************************************************/
.map-markers-admin-panel{
  background: rgba(255, 255, 255, 0.66);
  padding: 25px;

  .btn-update-map-mark{
    margin:20px auto;
    display: block;
    padding:5px 15px;
  }
  .remove-map-item{
    text-align: right;
    cursor:pointer;
    transition: color .2s;
  }
  .remove-map-item:hover{
    color: @red-vitberg;
   }

  fieldset{
    border:2px solid @red-vitberg;
  }
  .edit-single-marker{
    >:nth-child(2),>:nth-child(3),>:nth-child(4){
      max-width:250px;
      width:30%;
      display:inline-block;
    }
    >:nth-child(3),>:nth-child(4){
      margin-left:20px;
    }
  }



}

/*MAP PAGE STYLES
*********************************************************************/
.map-page{
  width: 100%;
  max-width: 100%;
  height: ~"calc(100vh - 64px)" ;
  background-color: rgba(255, 255, 255, 0.4);
  margin:0;
  padding: 35px;
  box-shadow: 1px 2px 5px rgba(0,0,0,0.5);
}
